<div class="row">
	<div class="col s12">
		<h5>Escalas</h5>
		
		<div class="card  white">
			<div class="card-content">
				<table>
					<thead>
						<tr>
							<th>Nome</th>
							<th style="text-align: right"><i class="mdi-action-search small activator"></i></th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="escala in listEscala" ng-click="edit(escala.id)" style="cursor: pointer;" >
							<td>{{escala.nome}}</td>
							<td style="text-align: right">
								<span ng-click="delete(escala.id); $event.stopPropagation();"><i class="mdi-content-clear"></i></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="card-action">
				<pagination
				    page="1"
				    page-size="LIMIT"
				    total="total"
				    show-prev-next="true"
				    dots="...."
				    hide-if-empty="false"
				    adjacent="1"
				    scroll-top="false"
				    pagination-action="list(page-1)" />
					

			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">
					Filtro<i class="mdi-navigation-close right"></i>
				</span>
				<form class="col s12">
					
				
                   <div class="row">
                     <div class="input-field col s9">
                       <input ng-model="search" id="nome" type="text">
                     </div>
                     
                     <div class="input-field col s3">
                       <button ng-click="list(0)" class="btn cyan waves-effect waves-light" type="submit" name="action">Buscar
                         <i class="mdi-action-search right"></i>
                       </button>
                     </div>
                   </div>
                 </form>
			</div>
		</div>
		<div class="fixed-action-btn">
          <a class="btn-floating btn-large" ng-click="novo()">
            <i class="mdi-content-add"></i>
          </a>
          
        </div>
	</div>
</div>