<div class="row">
	<div class="col s12">
		<h5>{{title}}</h5>

		<div class="card  white">
			<div class="card-content">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s6">
							<input ng-model="posicao.nome" id="descricao" type="text">
							<label for="first_name" class="">Nome</label>
						</div>
					</div>
					
					<div class="row">
						<div class="input-field col s12">

							<div class="right">
								<button ng-click="voltar()"
									class="btn cyan waves-effect waves-light" type="submit"
									name="action">
									Voltar <i class="mdi-content-undo right"></i>
								</button>
								<button ng-click="salvar(posicao)"
									class="btn cyan waves-effect waves-light " type="submit"
									name="action">
									Salvar <i class="mdi-content-save right"></i>
								</button>
							</div>
<br><br><br>
						</div>
						<br>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>