<div class="row">
	<div class="col s12">
		<h5>Integrante</h5>

		<div class="card  white">
			<div class="card-content">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s6">
							<input ng-model="integrante.nome" id="descricao" type="text">
							<label for="first_name" class="">Nome</label>
						</div>
						<div class="input-field col s6">
							<input ng-model="integrante.email" id="descricao" type="text">
							<label for="first_name" class="">Email</label>
						</div>
					</div>
					<br><br>
					<div class="row">
                        <div class="col s6">
                            <label>Posições:</label> 
                            <select class="browser-default"
                            		name="posicao"
                                	id="posicao"
                                	ng-options="posicao.id as posicao.nome for posicao in posicoes"
                                	ng-model="posicao">
                            </select>
                        </div>
                        <div class="col s2">
                            <button style="margin-top: 14px; margin-top: 14px;" ng-click="adicionarPosicao(posicao)" type="button"
                                class="btn cyan waves-effect waves-light " name="action" title="Adicionar uma posição">
                                <i class="mdi-content-add"></i>
                            </button>
                        </div>
                    </div>
                    
                        <div class="row" ng-show="!representante.exibeTodosProdutos">
                            <div class="">
                                <div class="card-content">
                                    <table>
                                        <thead>
                                            <tr>
                                            	<th>Posições habilitadas</th>
                                                <th style="text-align: right"><a href="javascript:void(0)" ng-click="removerPosicoes()"><i
                                                            class="mdi-content-clear"></i></a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="p in integrante.posicoes">
                                                <td>{{p.nome}}</td>
                                                <td style="text-align: right">
                                                	<a href="javascript:void(0)" ng-click="removerPosicoes(p.id)">
                                                	<i class="mdi-content-clear"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
					
					<div class="row">
						<div class="input-field col s12">

							<div class="right">
								<button ng-click="voltar()"
									class="btn cyan waves-effect waves-light" type="submit"
									name="action">
									Voltar <i class="mdi-content-undo right"></i>
								</button>
								<button ng-click="salvar(integrante)"
									class="btn cyan waves-effect waves-light " type="submit"
									name="action">
									Salvar <i class="mdi-content-save right"></i>
								</button>
							</div>
<br><br><br>
						</div>
						<br>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>